*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:url("backgrounds1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-flex;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 25px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}


ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 50px;
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.gall {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("gallery.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top:20px;
}
.gallery-sty {
	margin: 60px 0;
}
.gallery-sty h3 {
	color: #fe4705;
    font-weight: bold;
	text-align: center;
	margin-bottom:25px;
}
.gallery-sty img {
	margin-bottom:20px;
}

.btn{
	border:1px solid #fff;
	padding: 10px 30px;
	color: white;
	text-decoration: inherit;
	transition: 0.6s ease;

}

.btn:hover{
    background-color: #fff;
	color: #000;
}
